.App {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

.container {
  width: 85%;
  height: auto;
}

section {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 80px 80px 80px;
}
h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: center;
}
h3 {
  color: #00823C;
  font-family: Noto Sans Armenian;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
}

h4 {
  font-style: normal;
  font-weight: 400;
  color: #F5F5F5;
}

h6 {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  color: #00DF67;
}

button{
  font-family: Noto Sans Armenian !important;
}